.generate-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(var(--color-textButton));
  background-color: rgb(var(--color-primaryGray));
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
.generate-button:hover {
  background-color: rgb(var(--color-primaryDark));
}
.generate-button + .save-button {
  margin-left: 10px;
}
