.borderless-header {
  position: fixed;
  top: 0;
  right: 0;
  height: 2rem;
  background-color: rgb(var(--color-header));
  -webkit-app-region: drag;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  z-index: 150;
  width: auto;
  padding: 0 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.windowed-header {
  position: fixed;
  top: 0;
  right: 0;
  height: 2rem;
  background-color: rgb(var(--color-header));
  -webkit-app-region: drag;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  z-index: 150;
  width: 100%;
  padding: 0;
}

.subwindow-header {
  width: 100%;
  text-align: right;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(var(--color-header));
  -webkit-app-region: drag;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.header-title {
  font-size: 1rem;
  color: rgb(var(--color-textPrimary));
  margin-left: 0.5rem;
  text-align: left;
  flex-grow: 1;
  user-select: none;
}
.hover-opacity-item {
  height: 2rem;
  width: 100%;
  position: fixed;
  left: 0;
  background-color: transparent;
  z-index: 10;
  box-sizing: border-box;
}
.main-header:hover,
.hover-opacity-item:hover ~ .main-header {
  opacity: 1;
  pointer-events: auto;
}

/* Devtools */
.menu-container {
  position: relative;
  -webkit-app-region: no-drag;
  user-select: none;
}
.menu-button {
  background: none;
  border: none;
  color: rgb(var(--color-textPrimary));
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
}
.dropdown-menu {
  position: absolute;
  top: 2.5rem;
  left: 0;
  background: rgb(var(--color-bgSecondary));
  color: rgb(var(--color-textPrimary));
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(var(--color-shadow), 0.2);
  border-radius: 0;
  overflow: hidden;
  z-index: 1000;
  width: 200px;
}
.dropdown-menu button {
  background: none;
  border: none;
  color: rgb(var(--color-textPrimary));
  padding: 0.5rem 1rem;
  text-align: left;
  width: 85%;
  cursor: pointer;
}
.dropdown-menu button:hover {
  background: rgb(var(--color-bgTertiary));
}
.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}
.checkbox-container label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: rgb(var(--color-textPrimary));
  cursor: pointer;
  flex-grow: 1;
}
.checkbox-container input {
  margin-right: 0.5rem;
}

/* Header buttons*/
.window-controls {
  display: flex;
  gap: 0;
  margin-left: auto;
}
.window-controls button {
  background: none;
  border: none;
  color: rgb(var(--color-textPrimary));
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 0.8rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-app-region: no-drag;
  user-select: none;
}
#close:hover {
  background-color: rgb(var(--color-error));
  color: rgb(var(--color-textPrimary));
}
#minimize:hover,
#maximize:hover {
  background-color: gray;
}
.background-select-icon {
  width: 1rem;
  height: 1rem;
  padding-top: 1px;
}
.settings-icon {
  width: 1rem;
  height: 1rem;
  padding-top: 1px;
}
/* Hollow maximize icon */
.maximize-icon {
  width: 11px;
  height: 11px;
  border: 1px solid rgb(var(--color-textPrimary));
  box-sizing: border-box;
  background: none;
  position: absolute;
}
