.safe-image-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}
.safe-image-inner {
  position: relative;
}
.safe-image-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
  display: block;
  -webkit-user-drag: none;
}

.desktop-icon-image {
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 0px;
  cursor: pointer;
}

.highlighted-icon {
  position: relative;
  box-sizing: border-box;
  border: 3px solid rgb(var(--color-success));
  box-shadow: 0 0 12px rgba(var(--color-success), 0.8);
  background: rgb(var(--color-bgPrimary));
  overflow: hidden;
}
